@media only screen and (max-width: 600px) {
  .nav-contai {
    width: 100%;
    justify-content: center;
  }
  .topnav a,
  .toprightnav {
    display: none;
  }
  .nav-contai {
    display: flex;
    gap: 100px;
  }
  .footer-pages {
    width: 100%;
    height: auto;
  }
  .footer-pages,
  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .phones-list {
    margin-top: 30px;
    margin-left: 15px;
  }
  .store-list,
  .support-list,
  .explore-list,
  .program-list {
    margin-top: 10px;
    margin-left: 15px;
  }
  .content {
    display: none;
  }
  .title01 {
    font-family: "Inter Tight", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .linedivcontain {
    display: flex;
    justify-content: center;
  }
  .linediv {
    background-color: rgb(129, 129, 129);
    height: 1px;
    width: auto;
    display: flex;
    width: 100%;
  }
  .contentbox,
  .contentbox2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  .listbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .para1 {
    width: 100%;
    font-family: "Inter Tight", sans-serif;
    line-height: 200%;
    margin-top: 25px;
  }
  .para2 {
    width: 100%;
    font-family: "Inter Tight", sans-serif;
    margin-top: 15px;
  }
  .para3 {
    font-family: "Inter Tight", sans-serif;
    margin-top: 15px;
    width: 100%;
  }
  .title02 {
    font-family: "Inter Tight", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .imagecontainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .image01 {
    width: 400px;
  }
  .TVlists {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
  }
  .iteams {
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
  }
  .feedback {
    margin-top: 40px;
    font-family: "Inter Tight", sans-serif;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
  .para4 {
    font-family: "Inter Tight", sans-serif;
    margin-top: 15px;
    color: black;
  }
  .buttonyes,
  .buttonno {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: solid;
  }
  .line2 {
    height: 1px;
    background-color: rgb(129, 129, 129);
    width: 100%;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 600px) {
  .nav-contai {
    width: 100%;
    justify-content: center;
  }
  .nav-contai {
    display: flex;
    gap: 280px;
  }
  .topnav a,
  .toprightnav {
    display: none;
  }
  .footer-pages {
    width: 100%;
    height: auto;
  }
  .footer-pages,
  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .phones-list {
    margin-top: 30px;
    margin-left: 15px;
  }
  .store-list,
  .support-list,
  .explore-list,
  .program-list {
    margin-top: 10px;
    margin-left: 15px;
  }
  .content {
    display: none;
  }
  .payment {
    margin-top: 0px;
  }
  .title01 {
    font-family: "Inter Tight", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .linedivcontain {
    display: flex;
    justify-content: center;
  }
  .linediv {
    background-color: rgb(129, 129, 129);
    height: 1px;
    width: auto;
    display: flex;
    width: 100%;
  }
  .contentbox,
  .contentbox2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  .listbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .para1 {
    width: 100%;
    font-family: "Inter Tight", sans-serif;
    line-height: 200%;
    margin-top: 25px;
  }
  .para2 {
    width: 100%;
    font-family: "Inter Tight", sans-serif;
    margin-top: 15px;
  }
  .para3 {
    font-family: "Inter Tight", sans-serif;
    margin-top: 15px;
    width: 100%;
  }
  .title02 {
    font-family: "Inter Tight", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .imagecontainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .image01 {
    width: 400px;
  }
  .TVlists {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
  }
  .iteams {
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
  }
  .feedback {
    margin-top: 40px;
    font-family: "Inter Tight", sans-serif;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
  .para4 {
    font-family: "Inter Tight", sans-serif;
    margin-top: 15px;
    color: black;
  }
  .buttonyes,
  .buttonno {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: solid;
  }
  .line2 {
    height: 1px;
    background-color: rgb(129, 129, 129);
    width: 100%;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .nav-contai {
    width: 100%;
    justify-content: center;
  }
  .topnav a,
  .toprightnav {
    display: none;
  }
  .nav-contai {
    display: flex;
    gap: 460px;
  }
  .CE3lite-contain {
    width: 100%;
    height: auto;
  }
  .footer-pages {
    width: 100%;
    height: auto;
  }
  .footer-pages,
  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .phones-list {
    margin-left: 15px;
    margin-top: 30px;
  }
  .store-list,
  .support-list,
  .explore-list,
  .program-list {
    margin-top: 10px;
    margin-left: 15px;
  }
  .content {
    display: none;
  }
  .payment {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .nav-contai {
    width: 100%;
    justify-content: center;
  }
  .footer-pages {
    display: flex;
    flex-direction: row;
    gap: 7px;
  }
  .footer-contact {
    display: flex;
    flex-direction: row;
    gap: 150px;
  }
  .topnav a {
    display: none;
  }
  .toprightnav {
    display: flex;
    margin-top: 0px;
  }
  .nav-contai {
    display: flex;
    gap: 0px;
  }
  .phones-list,
  .store-list,
  .support-list,
  .explore-list,
  .program-list {
    margin-top: 40px;
    margin-left: 15px;
  }
  .content {
    display: block;
  }
  .payment {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .nav-contai {
    width: 100%;
    justify-content: center;
  }
  .topnav a {
    display: flex;
  }
  .toprightnav {
    display: flex;
    margin-top: 0px;
  }
  .nav-contai-2 {
    display: flex;
    gap: 150px;
    justify-content: center;
  }
  .footer-pages {
    display: flex;
    flex-direction: row;
    gap: 67px;
  }
  .footer-contact {
    display: flex;
    flex-direction: row;
    gap: 600px;
    margin-top: 20px;
  }
  .phones-list,
  .store-list,
  .support-list,
  .explore-list,
  .program-list {
    margin-top: 40px;
  }
  .content {
    display: block;
  }
  .payment {
    margin-top: 0px;
  }
  .title01 {
    font-family: "Inter Tight", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .linedivcontain {
    display: flex;
    justify-content: center;
  }
  .linediv {
    background-color: rgb(129, 129, 129);
    height: 1px;
    width: auto;
    display: flex;
    width: 1000px;
  }
  .contentbox,
  .contentbox2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .listbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .para1 {
    width: 1000px;
    font-family: "Inter Tight", sans-serif;
    line-height: 200%;
    margin-top: 45px;
  }
  .para2 {
    width: 1000px;
    font-family: "Inter Tight", sans-serif;
    margin-top: 15px;
  }
  .para3 {
    font-family: "Inter Tight", sans-serif;
    margin-top: 15px;
    width: 1000px;
  }
  .title02 {
    font-family: "Inter Tight", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .imagecontainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .image01 {
    width: 770px;
  }
  .TVlists {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 1000px;
  }
  .iteams {
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
  }
  .feedback {
    margin-top: 40px;
    font-family: "Inter Tight", sans-serif;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 900px;
  }
  .para4 {
    font-family: "Inter Tight", sans-serif;
    margin-top: 15px;
    color: black;
  }
  .buttonyes,
  .buttonno {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: solid;
  }
  .line2 {
    height: 1px;
    background-color: rgb(129, 129, 129);
    width: 100%;
    margin-top: 50px;
  }
}
